.container {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: stretch;
}

.label,
.value,
.units,
.button {
  padding: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label,
.units {
  font-size: 0.75rem;
  flex: 0 1 6rem;
  text-transform: uppercase;
}

.label {
  text-align: right;

  &:empty {
    flex: 0 1 0px;
  }

  &:not(:empty) {
    padding-right: 1rem;
  }
}

.units {
  text-align: left;
  padding-left: 1rem;
}

.value {
  flex: 1 1 5rem;
  min-width: 6rem;
  text-align: right;
  padding: 0.5rem 1rem;

  &:is(input) {
    border: 0;
    margin: 0 1px;
    background: var(--color-field-bg, black);
    color: var(--color-field-fg, white);
    // hide arrows, because we're making our own
    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &:is(output) {
    background: var(--color-field-bg, #444);
    color: currentColor;
    cursor: not-allowed;
  }
}

.button {
  flex-shrink: 0;
  border: 0;
  background: var(--color-interactive-bg, black);
  color: var(--color-interactive-fg, white);
  cursor: pointer;
  white-space: nowrap;
  width: 3rem;

  + .button {
    margin-left: 1px;
  }
}
