.container {
  border: none;
  border-top: 1px dotted;
  gap: 1px;
  padding: 0.5rem 0 1rem;
  min-width: 26rem;
  max-width: 100%;

  flex: 1 0;
}

.label {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  margin-left: var(--global-gap, 0.5rem);
  user-select: none;
}
